html {
    box-sizing: border-box;
  }
  
  body {
    width: 1600px;
    font-family: 'Arial';
    margin: 0;
  }

  .wrapper {
    max-width: 1600px; 
    margin: 0 auto; 
    padding: 0 15px; 
  }
  
  /* Amazing styles start */
  
  .amazing {
      width: 1600px;
      height: 768px;
      background: #F3F4F6;
      overflow: hidden;
    }
    
    .amazing__logo {
      margin-top: 48px;
      margin-left: 64px;
      width: 176px;
      height: 36px;
    
      fill: #EF4444;
    }
    
    .amazing__ballon {
      position: absolute;
      left: 64px;
      top: 132px;
      z-index: 1;
    }
    
    .amazing__circle_small {
      width: 480px;
      height: 480px;
      position: absolute;
      top: 280px;
      left: 64px;
      border-radius: 50%;
      
      background: #EF4444;
    }
    
    .amazing__circle_big {
      position: absolute;
      width: 1196px;
      height: 1196px;
      left: 988px;
      top: -598px;
      border-radius: 50%;
      z-index: 0;
      
      background: #EF4444;
    }
    
    .amazing__title {
      position: relative;
      margin-top: 192px;
      margin-left: 36%;
  
      font-style: normal;
      font-weight: 700;
      font-size: 96px;
      line-height: 96px;
    
      color: #000000;
    }
    
    .amazing__description {
      margin-top: 64px;
      margin-left: 37%;
      margin-right: 500px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
    
     color: #000000;
    }
  
  /* Amazing styles end */

  /* Facts styles start */

  .facts__arrow_down {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 1182px;
    top: -50px;
    border-radius: 50%;
    
    background: #EF4444;
  }

  .facts {
    max-height: 756px;
    background: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 148px;
  }
  
  .facts__subtitle {
    margin-left: 232px;
    
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: #EF4444;
  }
  
  .facts__title {
    margin-top: 12px;
    margin-left: 228px;
    
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    
    color: #000000;
  
  }

  .row {
    margin-left: 228px;
    margin-right: 228px;
  }
  
  .facts__text_bold {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    
    color: #000000;
  }
  
  .facts__text {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    color: #000000;
  }
  
  /* Facts styles end */

  /* Ataturk styles start */

  .ataturk {
    height: 600px;
    left: 0px;
    top: 1524px;
  
    background: #F3F4F6;
  }
  
  .ataturk__subtitle {
    margin-top: 24px;
    margin-left: 319px;
    width: 387px;
    height: 72px;

    
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    
    text-align: right;
    
    color: #000000;
  }
  
  .ataturk__title {
    padding-top: 160px;
    margin-left: 170px;
    width: 536px;
    height: 144px;
 
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    
    text-align: right;
    
    color: #000000;
  }
  
  .ataturk__more {
    display: inline-block;
    margin-top: 48px;
    margin-left: 529px;
    width: 138px;
    height: 36px;
  
    
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    
    text-align: right;
    text-decoration-line: underline;
    
    color: #EF4444;
  }
  
  .ataturk__arrow_right {
    display: inline-block;
    margin-top: 56px;
    margin-left: 12px;
    width: 24px;
    height: 20px;
    
    fill: #EF4444;
  }
  
  .ataturk__circle {
    position: absolute;
    top: 1800px;
    left: 860px;
    width: 640px;
    height: 640px;
    border-radius: 50%;
    background: #EF4444;
  }
  
  .ataturk__img {
    position: absolute;
    width: 562px;
    height: 530px;
    left: 774px;
    top: 1712px;
  }

  /* Ataturk styles end */

  /* Top-10 styles start */

  .top-10 {
    position: relative;
    height: 920px;
    padding: 100px 200px 0 200px;
    background-color: #111827;
  }
  
  .top-10__title {
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    color: #F9FAFB;
    margin-bottom: 24px;
  }
  
  .top-10__descr {
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #F9FAFB;
    margin-bottom: 64px;
  }
  
  .top-10__wrapper {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 48px;
    row-gap: 48px;
  }
  
  .top-10__place {
    grid-column: span 2;
  }
  
  .top-10__text_b {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #F9FAFB;
    margin-bottom: 12px;
    text-align: center;
  }
  
  .top-10__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F9FAFB;
    text-align: center;
  }
  
  .top-10__square {
    position: relative;
    z-index: 0;
    margin: 0 auto;
    top: -230px;
    width: 420px;
    height: 420px;
    background: #10B981;
    transform: rotate(-45deg);
  }

  /* Top-10 styles end */

  /* Footer styles start */

  .footer {
    height: 346px;
    background-color: #9CA3AF;
    padding: 48px 64px;
  }

  .footer__logo-pic {
    margin-bottom: 36px;
    fill: white;
  }

  .footer__descr {
    display: inline-block;
    width: 640px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
  }

  footer li {
    list-style-type: none;
  }

  .footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 380px;
  }

  .footer__menu-title {
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
  }

  .footer__menu-item {
    margin-bottom: 12px;
  }

  .footer__menu-link {
    color: white;
    font-weight: 400;
    font-size: 16px;
    text-decoration-line: underline;
  }


   /* Footer styles end */
  